body {
    padding: 0;
    margin: 0;
}

html, body, #mapid {
    height: 100%;
    width: 100%;
}

#tooltip {
    display: none;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    width:50px;
    height:15px;
    opacity: 0.5;
    border-radius: 5px;
    text-align: center;
    user-select: none;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#wt-day-select, #wt-hour-select {
    font-size: 1.5em;
    color: #777;
}